<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.taurus.base.dao.FilmMapper" >
  <resultMap id="BaseResultMap" type="com.cf.taurus.common.po.Film" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="actor" property="actor" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="film" property="film" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="require" property="require" jdbcType="VARCHAR" />
    <result column="actor_num" property="actorNum" jdbcType="INTEGER" />
    <result column="is_good" property="isGood" jdbcType="INTEGER" />
    <result column="t_action" property="tAction" jdbcType="INTEGER" />
    <result column="t_drama" property="tDrama" jdbcType="INTEGER" />
    <result column="t_mystery" property="tMystery" jdbcType="INTEGER" />
    <result column="t_romance" property="tRomance" jdbcType="INTEGER" />
    <result column="t_horror" property="tHorror" jdbcType="INTEGER" />
    <result column="t_comedy" property="tComedy" jdbcType="INTEGER" />
    <result column="t_cartoon" property="tCartoon" jdbcType="INTEGER" />
    <result column="t_music" property="tMusic" jdbcType="INTEGER" />
    <result column="actor1" property="actor1" jdbcType="VARCHAR" />
    <result column="actor2" property="actor2" jdbcType="VARCHAR" />
    <result column="actor3" property="actor3" jdbcType="VARCHAR" />
    <result column="actor4" property="actor4" jdbcType="VARCHAR" />
    <result column="actor5" property="actor5" jdbcType="VARCHAR" />
    <result column="actor6" property="actor6" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, star, actor, `name`, film, `type`, tag, `require`, actor_num, is_good, t_action, t_drama,
    t_mystery, t_romance, t_horror, t_comedy, t_cartoon, t_music, actor1, actor2, actor3, 
    actor4, actor5, actor6
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cf.taurus.common.po.Film" >
    insert into film (id, star, actor, 
      name, film, type, tag, 
      require, actor_num, is_good, 
      t_action, t_drama, t_mystery, 
      t_romance, t_horror, t_comedy, 
      t_cartoon, t_music, actor1, 
      actor2, actor3, actor4, 
      actor5, actor6)
    values (#{id,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}, #{actor,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{film,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{require,jdbcType=VARCHAR}, #{actorNum,jdbcType=INTEGER}, #{isGood,jdbcType=INTEGER}, 
      #{tAction,jdbcType=INTEGER}, #{tDrama,jdbcType=INTEGER}, #{tMystery,jdbcType=INTEGER}, 
      #{tRomance,jdbcType=INTEGER}, #{tHorror,jdbcType=INTEGER}, #{tComedy,jdbcType=INTEGER}, 
      #{tCartoon,jdbcType=INTEGER}, #{tMusic,jdbcType=INTEGER}, #{actor1,jdbcType=VARCHAR}, 
      #{actor2,jdbcType=VARCHAR}, #{actor3,jdbcType=VARCHAR}, #{actor4,jdbcType=VARCHAR}, 
      #{actor5,jdbcType=VARCHAR}, #{actor6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cf.taurus.common.po.Film" >
    insert into film
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="actor != null" >
        actor,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="film != null" >
        film,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="require != null" >
        require,
      </if>
      <if test="actorNum != null" >
        actor_num,
      </if>
      <if test="isGood != null" >
        is_good,
      </if>
      <if test="tAction != null" >
        t_action,
      </if>
      <if test="tDrama != null" >
        t_drama,
      </if>
      <if test="tMystery != null" >
        t_mystery,
      </if>
      <if test="tRomance != null" >
        t_romance,
      </if>
      <if test="tHorror != null" >
        t_horror,
      </if>
      <if test="tComedy != null" >
        t_comedy,
      </if>
      <if test="tCartoon != null" >
        t_cartoon,
      </if>
      <if test="tMusic != null" >
        t_music,
      </if>
      <if test="actor1 != null" >
        actor1,
      </if>
      <if test="actor2 != null" >
        actor2,
      </if>
      <if test="actor3 != null" >
        actor3,
      </if>
      <if test="actor4 != null" >
        actor4,
      </if>
      <if test="actor5 != null" >
        actor5,
      </if>
      <if test="actor6 != null" >
        actor6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="actor != null" >
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="film != null" >
        #{film,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="require != null" >
        #{require,jdbcType=VARCHAR},
      </if>
      <if test="actorNum != null" >
        #{actorNum,jdbcType=INTEGER},
      </if>
      <if test="isGood != null" >
        #{isGood,jdbcType=INTEGER},
      </if>
      <if test="tAction != null" >
        #{tAction,jdbcType=INTEGER},
      </if>
      <if test="tDrama != null" >
        #{tDrama,jdbcType=INTEGER},
      </if>
      <if test="tMystery != null" >
        #{tMystery,jdbcType=INTEGER},
      </if>
      <if test="tRomance != null" >
        #{tRomance,jdbcType=INTEGER},
      </if>
      <if test="tHorror != null" >
        #{tHorror,jdbcType=INTEGER},
      </if>
      <if test="tComedy != null" >
        #{tComedy,jdbcType=INTEGER},
      </if>
      <if test="tCartoon != null" >
        #{tCartoon,jdbcType=INTEGER},
      </if>
      <if test="tMusic != null" >
        #{tMusic,jdbcType=INTEGER},
      </if>
      <if test="actor1 != null" >
        #{actor1,jdbcType=VARCHAR},
      </if>
      <if test="actor2 != null" >
        #{actor2,jdbcType=VARCHAR},
      </if>
      <if test="actor3 != null" >
        #{actor3,jdbcType=VARCHAR},
      </if>
      <if test="actor4 != null" >
        #{actor4,jdbcType=VARCHAR},
      </if>
      <if test="actor5 != null" >
        #{actor5,jdbcType=VARCHAR},
      </if>
      <if test="actor6 != null" >
        #{actor6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.taurus.common.po.Film" >
    update film
    <set >
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="actor != null" >
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="film != null" >
        film = #{film,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="require != null" >
        require = #{require,jdbcType=VARCHAR},
      </if>
      <if test="actorNum != null" >
        actor_num = #{actorNum,jdbcType=INTEGER},
      </if>
      <if test="isGood != null" >
        is_good = #{isGood,jdbcType=INTEGER},
      </if>
      <if test="tAction != null" >
        t_action = #{tAction,jdbcType=INTEGER},
      </if>
      <if test="tDrama != null" >
        t_drama = #{tDrama,jdbcType=INTEGER},
      </if>
      <if test="tMystery != null" >
        t_mystery = #{tMystery,jdbcType=INTEGER},
      </if>
      <if test="tRomance != null" >
        t_romance = #{tRomance,jdbcType=INTEGER},
      </if>
      <if test="tHorror != null" >
        t_horror = #{tHorror,jdbcType=INTEGER},
      </if>
      <if test="tComedy != null" >
        t_comedy = #{tComedy,jdbcType=INTEGER},
      </if>
      <if test="tCartoon != null" >
        t_cartoon = #{tCartoon,jdbcType=INTEGER},
      </if>
      <if test="tMusic != null" >
        t_music = #{tMusic,jdbcType=INTEGER},
      </if>
      <if test="actor1 != null" >
        actor1 = #{actor1,jdbcType=VARCHAR},
      </if>
      <if test="actor2 != null" >
        actor2 = #{actor2,jdbcType=VARCHAR},
      </if>
      <if test="actor3 != null" >
        actor3 = #{actor3,jdbcType=VARCHAR},
      </if>
      <if test="actor4 != null" >
        actor4 = #{actor4,jdbcType=VARCHAR},
      </if>
      <if test="actor5 != null" >
        actor5 = #{actor5,jdbcType=VARCHAR},
      </if>
      <if test="actor6 != null" >
        actor6 = #{actor6,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.taurus.common.po.Film" >
    update film
    set star = #{star,jdbcType=INTEGER},
      actor = #{actor,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      film = #{film,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      require = #{require,jdbcType=VARCHAR},
      actor_num = #{actorNum,jdbcType=INTEGER},
      is_good = #{isGood,jdbcType=INTEGER},
      t_action = #{tAction,jdbcType=INTEGER},
      t_drama = #{tDrama,jdbcType=INTEGER},
      t_mystery = #{tMystery,jdbcType=INTEGER},
      t_romance = #{tRomance,jdbcType=INTEGER},
      t_horror = #{tHorror,jdbcType=INTEGER},
      t_comedy = #{tComedy,jdbcType=INTEGER},
      t_cartoon = #{tCartoon,jdbcType=INTEGER},
      t_music = #{tMusic,jdbcType=INTEGER},
      actor1 = #{actor1,jdbcType=VARCHAR},
      actor2 = #{actor2,jdbcType=VARCHAR},
      actor3 = #{actor3,jdbcType=VARCHAR},
      actor4 = #{actor4,jdbcType=VARCHAR},
      actor5 = #{actor5,jdbcType=VARCHAR},
      actor6 = #{actor6,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.cf.taurus.common.po.Film" >
    select
    <include refid="Base_Column_List" />
    from film
    where 1=1
    <if test="searchValue != null and searchValue != '' " >
      AND actor like concat('%', #{searchValue} ,'%')
      OR `name` like concat('%', #{searchValue} ,'%')
      OR film like concat('%', #{searchValue} ,'%')
    </if>
    ORDER BY star DESC
    <if test="start != null and size != null" >
      LIMIT #{start},#{size}
    </if>

  </select>

  <select id="countByCondition" resultType="java.lang.Integer" parameterType="com.cf.taurus.common.po.Film" >
    select
    count(1)
    from film
    where 1=1
    <if test="searchValue != null and searchValue != '' " >
      AND actor like concat('%', #{searchValue} ,'%')
      OR `name` like concat('%', #{searchValue} ,'%')
      OR film like concat('%', #{searchValue} ,'%')
    </if>
  </select>

</mapper>