<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.taurus.base.dao.SellMapper" >
  <resultMap id="BaseResultMap" type="com.cf.taurus.common.po.Sell" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="level1" property="level1" jdbcType="DOUBLE" />
    <result column="level2" property="level2" jdbcType="DOUBLE" />
    <result column="level3" property="level3" jdbcType="DOUBLE" />
    <result column="level4" property="level4" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, street, level1, level2, level3, level4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sell
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sell
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cf.taurus.common.po.Sell" >
    insert into sell (id, street, level1, 
      level2, level3, level4
      )
    values (#{id,jdbcType=INTEGER}, #{street,jdbcType=VARCHAR}, #{level1,jdbcType=DOUBLE}, 
      #{level2,jdbcType=DOUBLE}, #{level3,jdbcType=DOUBLE}, #{level4,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cf.taurus.common.po.Sell" >
    insert into sell
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="level1 != null" >
        level1,
      </if>
      <if test="level2 != null" >
        level2,
      </if>
      <if test="level3 != null" >
        level3,
      </if>
      <if test="level4 != null" >
        level4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="level1 != null" >
        #{level1,jdbcType=DOUBLE},
      </if>
      <if test="level2 != null" >
        #{level2,jdbcType=DOUBLE},
      </if>
      <if test="level3 != null" >
        #{level3,jdbcType=DOUBLE},
      </if>
      <if test="level4 != null" >
        #{level4,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.taurus.common.po.Sell" >
    update sell
    <set >
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="level1 != null" >
        level1 = #{level1,jdbcType=DOUBLE},
      </if>
      <if test="level2 != null" >
        level2 = #{level2,jdbcType=DOUBLE},
      </if>
      <if test="level3 != null" >
        level3 = #{level3,jdbcType=DOUBLE},
      </if>
      <if test="level4 != null" >
        level4 = #{level4,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.taurus.common.po.Sell" >
    update sell
    set street = #{street,jdbcType=VARCHAR},
      level1 = #{level1,jdbcType=DOUBLE},
      level2 = #{level2,jdbcType=DOUBLE},
      level3 = #{level3,jdbcType=DOUBLE},
      level4 = #{level4,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllSell" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sell
  </select>
</mapper>