<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.taurus.base.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cf.taurus.common.po.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="device" property="device" jdbcType="VARCHAR" />
    <result column="system" property="system" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="is_ucg" property="isUcg" jdbcType="TINYINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="ctime" property="ctime" jdbcType="CHAR" />
    <result column="utime" property="utime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, sex, name, city, province, country, password, point, device, system, 
    image, is_ucg, is_delete, ctime, utime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user_info
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cf.taurus.common.po.UserInfo" >
    insert into user_info (id, open_id, sex, 
      name, city, province, 
      country, password, point, 
      device, system, image, 
      is_ucg, is_delete, ctime, 
      utime)
    values (#{id,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{name,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER}, 
      #{device,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{isUcg,jdbcType=TINYINT}, #{isDelete,jdbcType=TINYINT}, #{ctime,jdbcType=CHAR}, 
      #{utime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cf.taurus.common.po.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="system != null" >
        system,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="isUcg != null" >
        is_ucg,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="utime != null" >
        utime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="system != null" >
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="isUcg != null" >
        #{isUcg,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=CHAR},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.taurus.common.po.UserInfo" >
    update user_info
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="system != null" >
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="isUcg != null" >
        is_ucg = #{isUcg,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=CHAR},
      </if>
      <if test="utime != null" >
        utime = #{utime,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.taurus.common.po.UserInfo" >
    update user_info
    set open_id = #{openId,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      device = #{device,jdbcType=VARCHAR},
      system = #{system,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      is_ucg = #{isUcg,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      ctime = #{ctime,jdbcType=CHAR},
      utime = #{utime,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>